<%= @forum.name %>
<ol>
  <% @forum.posts.each do |post| %>
    <li><%= link_to post.title, forum_post_path(@forum, post) %></li>
  <% end %>
</ol>

<%= link_to 'New Post', new_forum_post_path(@forum) %>
